
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-transform: capitalize;
  }


  .main{
    background: #0F103F;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @apply sm:items-center items-start
    
  }
  
  .navGradient{
    position: absolute;
    top: 0px;
    left: -290px;
    width: 366.125px;
    height: 372px;
    border-radius: 372px;
    background: radial-gradient(50% 50.00% at 50% 50.00%, rgba(255, 101, 193, 0.60) 0%, rgba(255, 101, 193, 0.00) 100%);
    filter: blur(60px);
  }
  .btnGradient{
    border-radius: 10px;
    background: linear-gradient(168deg, #C961DE 0%, #2954A3 100%);
    box-shadow: 0px 10px 20px 0px rgba(7, 7, 26, 0.15);
  }
  .abdoutGradient{
    position: absolute;
    @apply xl:w-[606px] md:w-[400px] lg:w-[500px] lg:h-[530px] w-[300px] xl:h-[639px] md:h-[410px] h-[310px] xl:top-[-56px] lg:top-[-19px] lg:right-[139px] md:right-[80px] top-[-35px] xl:right-[185px] right-[-13px] xl:blur-[95px] lg:blur-[60px] md:blur-[65px] blur-[40px];
    z-index: -2;
    border-radius: 859px;
    background: radial-gradient(56.20% 56.20% at 44.70% 48.50%, rgba(41, 84, 163, 0.60) 0%, rgba(16, 18, 65, 0.60) 100%);
  }
  
  .navGradient1{
    position: absolute;
    top: 270px;
    left: -305px;
    width: 632.114px;
    height: 310.198px;
    flex-shrink: 0;
    border-radius: 632.114px;
    background: radial-gradient(50% 50.00% at 50% 50.00%, rgba(151, 115,     255, 0.30) 4.17%, rgba(115, 154, 255, 0.24) 50%, rgba(105, 120,     255, 0.00) 100%);
    mix-blend-mode: lighten;
    filter: blur(9.411737442016602px);
  }
  .btn{
    @apply text-secondary-white lg:w-[200px] w-[150px] capitalize lg:h-[50px] h-[35px]  bg-white rounded-[30px] border-none
  }
  .btn1{
background: rgba(255, 255, 255, 0.30);
box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(11.575666427612305px);
  }
  .btn2{
background: linear-gradient(169deg, #C961DE 0%, #2954A3 100%);
box-shadow: 0px 10px 20px 0px rgba(8, 12, 33, 0.15);

  }
  li{
    @apply lg:flex hidden
  }
  a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.203%;
  }
  .bg{
background: rgba(255, 255, 255, 0.40);
backdrop-filter: blur(9px);
  }
 .bg1{
background: rgba(181, 249, 253, 0.42);
backdrop-filter: blur(9px);
 }
 .bg2{
background: rgba(255, 255, 255, 0.40);
backdrop-filter: blur(9px);
 }
 .workBackground{
background-image: url('../public/Back-ground.svg');
z-index: -1;
background-position: center;
background-repeat: no-repeat;
height: 818px;
background-size: contain;
 }
 .contactBackground{
border-radius: 30px;
background: rgba(47, 47, 138, 0.60);
backdrop-filter: blur(10px);
 }
 .inputBackground{
  border-radius: 10px;
background: rgba(255, 255, 255, 0.30);
box-shadow: 0px 10px 20px 0px rgba(7, 7, 26, 0.15);

 }
 .bg:after , .bg1:after , .bg2:after{
content: '';
position: absolute;
bottom: 0;
z-index: 5;
width: 100%;
background-color:rgba(0, 0, 0, 0.40);
@apply lg:rounded-b-[20px] rounded-b-[14px] lg:h-[50px] h-[30px]
 }
 .bg::before{
  content: 'Designs';
  position: absolute; 
  bottom: 10px;
  text-align: center;
  color: white;
  z-index: 10;
 }
 .bg1::before{
  content: 'UI Designs';
  position: absolute; 
  bottom: 10px;
  text-align: center;
  color: white;
  z-index: 10;
 }
 .bg2::before{
  content: 'Mockup';
  position: absolute; 
  bottom: 10px;
  text-align: center;
  color: white;
  z-index: 10;
 }
 .footerGradient{
  position: absolute;
  @apply md:w-[560px] w-[210px];
    height: 160px;
    left: 1%;
  bottom: 0;
  filter: blur(140px);
  background-color:hsla(212,64%,54%,1);
background-image:
radial-gradient(at 5% 68%, hsla(204,100%,44%,1) 0px, transparent 50%),
radial-gradient(at 88% 15%, hsla(166,100%,44%,1) 0px, transparent 50%),
radial-gradient(at 50% 71%, hsla(243,100%,44%,1) 0px, transparent 50%),
radial-gradient(at 50% 11%, hsla(200,100%,44%,1) 0px, transparent 50%);

 }
